:root {
	--primary-color: #235ad1;
	--unit: 1rem;
	--primary-h: 220;
	--primary-s: 70%;
	--primary-l: 45%;
}

.section-title {
	color: var(--primary-color);
	margin-top: var(--unit);
}
.featured-article {
	--primary-color:#d14c23;
}
.btn {
	padding: var(--unit);
	background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
	transition: background-color 0.3s easy-out;
}
.btn:hover {
	--primary-l: 80%;
}